 <footer>
    <div id="menu" class="dropdown-content"><ul>
        <!-- Etsy -->
         <li> <button class="button-footer"><a href="https://etsy.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-etsy"></i></a>Etsy</button></li>
        <!-- Bluesky -->
        <li><button class="button-footer"><a href="https://bsky.app/profile/stilltrill.bsky.social" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-bluesky"></i></a>Bluesky</button></li>
       
        <!-- YouTube -->
        <li><button class="button-footer"><a href="https://youtube.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>YouTube</button></li>
       
        <!-- Linkedin -->
        <li><button class="button-footer"><a href="https://linkedin.com/in/trilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>LinkedIN</button></li>
        <!-- Github -->
    <li><button class="button-footer"><a href="https://github.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>Github</button></li>
        <li><button class="button-footer"><a href="https://twitch.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitch"></i></a>Twitch</button></li>
            <li><button><div class="button-footer"><a href="https://dev.to/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-dev"></i></a></div>dev.to</button></li>
      </div>
    </ul>
  </footer>