<div class="post-list">{% if site.posts.size > 0 %}
  <ul>
    {% for post in site.posts %}
      <li><div class="postlist-perms">-rw-rw-r--</div><div class="postlist-user">trilliams trilliams</div>
        <div class="postlist-date">{{ post.date | date: "%a %b %d %Y"  }}</div> <a href="{{ post.url }}">{{ post.title | downcase }}</a>
      </li>
    {% endfor %}
    

      {% for item in site.data.navigation %}
      <li><div class="nav-perms">drwxrw-r--</div> <div class="nav-user">trilliams trilliams</div> <div class="nav-date">{{ "now" | date: "%a %b %d %Y"}}</div>
     <span class="nav-dir"><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></span> 
    </li>
     {% endfor %}
  </ul>
  </div>
  
{% endif %}
</div>