<div class="wrapper index-columns">
 
  <div class="index-items">
    {% for item in site.data.navigation %}
    <div class="item-link" name="item-link">
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}><i class="fa-regular fa-file-code xl"></i></a>
      <div class="index-txt">{{ item.name }}</div>
    </div>
    
      
    {% endfor %}
  </div>

  <div class="index-posts">
    {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="post-link" name="post-link">
    <a href="{{ post.url }}"><i class="fa-regular fa-file-lines xl"></i></a>
      <div class="index-title">{{ post.title | downcase }}.txt</div></div>
    
      {% endfor %} 
      {% endif %}  
  
      </div>
 
</div> 