.fa-brands {
    padding: 5px;
}
.fa-etsy {
    background-color: darkorange;
    color: white;
}
.fa-bluesky {
    background: skyblue;
    color: white;
}
.fa-youtube {
    color: red;
    background: white;
}
.fa-linkedin {
    color: rgb(6, 6, 175);
}
.fa-github {
    color: black;
}
.fa-twitch {
    color: purple;
}
.fa-dev {

    color: black;
}
.fa-folder {
    color: skyblue;
}
.fa-envelope, .fa-wifi {
    color: white;
}
.fa-gear {
    color: #272727;
}